html, body {

	overflow-x: hidden;

}

body {

	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	top: 0;
	font: 100% Helvetica, sans-serif;
	background-color: #FBD984;
	-webkit-overflow-scrolling:touch

}

nav {

	border-bottom: solid 2px #FBD984;
	border-bottom-radius: 3px;
	margin: 0;
	width: 100%;

}

nav .nav-item {

	transition: visibility .25s linear;
	display: inline-block;
	text-decoration: none;
	padding: 10px 20px 10px;
	background-color: #232223;
	margin: 0;

}

nav .nav-item a {

	display: inline-block;
	text-decoration: none;
	padding: 0;
	color: #FBD984;

}

nav .nav-item:hover {

	background-color: #515051;
	transition: 300ms ease-in;

}

nav .nav-item.select {

	background-color: #6B0000;
	color: #DD9D00;

}

header {

	position: relative;
	width: 100%;
	background: #232223;
	top: 0;

}

.subhead {

	width: 100%;
	background-color: #5D0000;
	color: #FBD984;
	font-size: 3em;
	text-align: center;
	position: relative;
	height: 300px;
	margin: auto;

}

.subhead .center-wrapper {

	text-align: center;
	position: relative;
	margin: auto;
	top: 30%;

}

.subhead hr {

    height: 30px;
    width: 700px;
    border-style: solid;
    border-color: #FBD984;
    border-width: 1px 0 0 0;
    border-radius: 20px;

}


.subhead hr:before {

    display: block;
    content: "";
    height: 20px;
    margin-top: -31px;
    border-style: solid;
    border-color: #FBD984;
    border-width: 0 0 1px 0;
    border-radius: 20px;

}

.updates {

	display: block;
	background-color: #5D0000;
	color: #FBD984;
	max-width: 500px;
	width: 100%;
	min-height: 70px;
	height: 100%; 
	position: relative;
	margin: auto;
	top: 50%;
	padding: 20px;
	margin-bottom: 50px;
	border-radius: 5px;
	border: 3px solid #FBD984;

	-webkit-box-shadow: 6px 6px 28px 0px rgba(119,14,14,1);
	-moz-box-shadow: 6px 6px 28px 0px rgba(119,14,14,1);
	box-shadow: 6px 6px 28px 0px rgba(119,14,14,1)
	

}

.updates h4 {

	margin-top: 0;
	margin-bottom: 3px;
	

}

.page-head {

	color: #5D0000;
	font-size: 2em;
	text-align: center;
	position: relative;
	left: -5%;


}

.panel {

	width: 100%;
	padding: 40px;
	display: inline-block;
	margin: auto;
	text-align: center;

}

.image-bank {

	float: right;
	position: relative;
	right: 5%;
	padding: 50px 0px 0px 0px;

}

.image-bank img {

	width: 300px;
	height: 150px;
	display: block;
	padding: 2px;
	margin: auto;

}

.image-bank.history img {

	width: 500px;
	height: 300px;

}

.image-bank.chapel img {

	width: 500px;
	height: 300px;

}

.image-bank.contrib img {

	width: 500px;
	height: 300px;
	position: relative;
	left: 0%;

}

table {

	max-width: 900px;
	width: 100%;
	padding: 5px;
	border-collapse: collapse;
	margin: auto;

}

th {

	height: 50px;
	text-align: left;
	border-bottom: 2px solid #000;
	background-color: #5D0000;
	color: #FFCF57;
	padding: 5px;

}

td {

	height: 50px;
    vertical-align: bottom;
    border-bottom: 1px solid #000;
    padding: 5px;

}

tr {

	max-width: 900px;
	width: 100%;

}

tr:nth-child(even) {

	background-color: #FFCF57;

}

.page {

	background-color: #FBD984;
	min-height: 100%;
	position: relative;
	margin: auto;
	float: left;

}

.page.rates {

	margin: auto;
	text-align: center;
	position: relative;
	left: 10%;

}

.page.contact {

	margin: auto;
	text-align: center;

}

.page.contact a {

	color: #D70000;

}

.page .fees {

	text-align: left;
	padding: 20px 100px 20px 100px;


}

.page .fees li .space {

		display: inline-block;
		text-align: right;
		position: relative;
		right: -20%;

}

.page .fees li .space1 {

		display: inline-block;
		text-align: right;
		position: relative;
		right: -57%;

}

.page .fees li .space2 {

		display: inline-block;
		text-align: right;
		position: relative;
		right: -33%;

}

.page .fees li .space3 {

		display: inline-block;
		text-align: right;
		position: relative;
		right: -68%;

}

.page .fees li .space4 {

		display: inline-block;
		text-align: right;
		position: relative;
		right: -55.5%;

}

.page .fees li .space5 {

		display: inline-block;
		text-align: right;
		position: relative;
		right: -33%;

}

.page .fees li .space6 {

		display: inline-block;
		text-align: right;
		position: relative;
		right: -33.3%;

}

.page .fees li .space7 {

		display: inline-block;
		text-align: right;
		position: relative;
		right: -58.5%;

}

.page .container{

	text-align: left;
	color: #923600;
	padding: 20px 100px 20px 50px;
	width: 500px;

}

.page .container.rates {

	position: relative;	
	text-align: left;
	padding: 20px 100px 20px 100px;
	left: 15%;

}

.page .container.history {

	position: relative;
	padding: 80px 100px 80px 100px;

}

.page .container.contact {

	position: relative;
	text-align: center;
	left: 50%;

}

.page .container.search {

	max-width: 800px;
	width: 100%;
	overflow-x:auto;
	margin: auto;
	position: relative;
	left: 20%;

}

.page hr {

	height: 30px;
    width: 300px;
    border-style: solid;
    border-color: #770E0E;
    border-width: 2px 0 0 0;
    border-radius: 20px;

}

.page hr:before {

	display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: #770E0E;
    border-width: 0 0 1px 0;
    border-radius: 20px;

}

.footer {

	background-color: #171717;
	height: 50px;
	position: relative;
	bottom: 0%;
	margin: auto;

}

.footer .hitbox {

	height: 15px;
	width: 83px;
	position: relative;
	margin: auto;
	text-align: center;
	padding: 10px;

}

.nav-side {

	visibility: hidden;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	max-width: 250px;
	z-index: 1000;
	background-color: #232223;
	box-sizing: border-box;
	padding: 20px;
	color: #FBD984;
	margin-left: -250px;
	transition: margin 200ms ease-in-out;

}

.nav-toggle {

	visibility: hidden;
	position: absolute;
	right: -40px;
	top: 0;
	width: 40px;
	height: 40px;
	background-color: #232223;
	line-height: 40px;
	text-decoration: none;
	text-align: center;
	border-bottom-right-radius: 3px;
	box-shadow: 1px 0 3px rgba(0,0,0,0.1);

}

.nav-side .nav-item {

	text-align: center;
	position: relative;
	top: 5%;
	padding: 20px;
	border-bottom: 0.5px solid #FBD984;
	width: auto;

}

.nav-side .nav-item a {

	text-decoration: none;
	color: #FBD984;
	margin: 0;
	width: auto;

}

.nav-side .nav-item.select {

	background-color: #6B0000;
	color: #DD9D00;
	z-index: 1000;

}

.nav-side .nav-item:hover {

	background-color: #515051;
	transition: 300ms ease-in;

}

.nav-toggle:before {

	content: "\2192";
	font-weight: 600;
	color: #fff;

}

.nav-side.nav-open {
	margin-left: 0;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}

.nav-side.nav-open .nav-toggle:before {

	content: "\2190";

}

.pagination {

	font-weight: bold;
	text-align: center;

}

.pagination a {

	color: #B10000;
}	

.pagination a:visited {

	color: #5D0000;

}

.pagination a:hover {

	color: #D70000;

}

.alphabet {

	font-weight: bold;
	text-align: center;
	margin: 0;
	position: relative;
	left: -5%;

}

.alphabet a {

	color: #B10000;
}	

.alphabet a:visited {

	color: #5D0000;

}

.alphabet a:hover {

	color: #D70000;

}

.email-container {

	max-width: 700px;
	width: 100%;
	max-height: 700px;
	height: 100%;
	margin: auto;
	text-align: justify;
	color: #FBD984;
	background-color: #5D0000;
	padding: 20px;
	border: 3px solid #FBD984;
	border-radius: 5px;
	position: relative;
	left: 40%;	

	-webkit-box-shadow: 6px 6px 28px 0px rgba(119,14,14,1);
	-moz-box-shadow: 6px 6px 28px 0px rgba(119,14,14,1);
	box-shadow: 6px 6px 28px 0px rgba(119,14,14,1); 

}

.email-container h3 {

	text-align: center;
	text-decoration: underline;

}

.email-container form input {

	max-width: 200px;
	width: 100%;
	line-height: 20px;

}

.modal {

	text-align: center;
	position: fixed;
	left: 50%;
	top: 50px;
	width: 70%;
	max-width: 700px;
	height: 350px;
	background-color: #fff;
	border: 1px solid #aaa;
	padding: 30px;
	border-radius: 5px;
	box-shadow: 3px 3px 8px rgba(0,0,0,0.6);
	transform: translate(-50%, 0);
	z-index: 2000;

}

.order-radio {

	color: #5D0000;

}

.order-radio label {

	width: 200px;
	border-radius: 3px;
	color: #5D0000;

}


@media screen and (max-device-width: 480px){

	html, body {

		width: 100%;

	}

	nav {

		display: none;
		transition: 400ms ease-in-out;

	}

	.nav-side, .nav-toggle{

		visibility: visible;
		transition: 400ms ease-in-out;

	}

	.nav-side .top-label {

		font-size: 3em;

	}

	.page-head {

		font-size: 3em;

	}

	.updates {

		width: 100%;
		height: 100%;
		max-width: 900px;
		max-height: 500px;
		transition: height 200ms ease-in-out;
		transition: width 200ms ease-in-out;
	
		font-size: 2em;

	}

	.email-container {
	
		width: 100%;
		height: 100%;
		max-height: 4000px;
		max-width: 800px;
		position: relative;		
		left: 0%;

	}
	
	.contact-text {

		width: 100%;
		height: 100%;
		max-width: 3000px;
		max-height: 1000px;

	}

	.contact-submit {

		font-size: 35px;
		height: 70px;
		width: 70px;

	}

	.email-inputs {

		height: 70px;
		width: 1000px;

	}

	header {

		width: 100%;

	}

	.subhead {

		width: 100%;
		background-color: #5D0000;
		color: #FBD984;
		font-size: 3em;
		text-align: center;
		position: relative;
		height: 800px;
		margin: auto;

	}

	.subhead .center-wrapper {

		text-align: center;
		position: relative;
		margin: auto;
		top: 10%;
		font-size: 3em;

	}

	.panel {

		margin: 0;
		padding: 20px 0px 20px 0px;
		width: 100%;

	}

	.page {

		font-size: 3em;

	}

	.page .container {

		width: 70%;
		text-align: center;
		padding: 30px 100px 30px 70px;
		margin: auto;

	}

	.page .fees {

		text-align: left;
		padding: 20px 100px 20px 100px;
		position: relative;
		width: 80%;
		left: -8%;

	}

	.page .container.rates {

		position: relative;	
		text-align: left;
		padding: 20px 100px 20px 100px;
		left: -10%;

	}

	.page .container.rates a {

		color: #D70000;

	}

	.page .container.history {

		position: relative;
		padding: 20px 100px 20px 100px;
		left: -9%;

	}

	.page .container.contact {

		position: relative;
		text-align: center;
		left: 2%;

	}

	.page .container.search {

		max-width: 800px;
		width: 100%;
		overflow-x:auto;
		margin: auto;
		position: relative;
		left: -3%;
		overflow-x: hidden;

	}

	.image-bank {

		position: relative;
		left: -4%;

	}

	.image-bank.history {

		position: relative;
		left: -15%;

	}

	.image-bank.contrib {

		position: relative;
		left: -18%;

	}

	.image-bank img {

		width: 900px;
		height: 500px;
		transition: height 200ms ease-in-out;
		transition: width 200ms ease-in-out;

	}

	.image-bank.history img {

		width: 900px;
		height: 500px;
		transition: height 200ms ease-in-out;
		transition: width 200ms ease-in-out;

	}

	.image-bank.chapel img {

		width: 900px;
		height: 500px;
		transition: height 200ms ease-in-out;
		transition: width 200ms ease-in-out;

	}

	.image-bank.contrib img {

		width: 900px;
		height: 500px;
		position: relative;
		left: 16%;
		transition: height 200ms ease-in-out;
		transition: width 200ms ease-in-out;

	}

	table {

		width:  900px;
		padding: 5px;
		border-collapse: collapse;
		position: relative;
		margin: auto;
		overflow: visible;
		white-space: normal;

	}

	th {

		height: 100px;
		width: 20px;
		text-align: left;
		border-bottom: 2px solid #000;
		background-color: #5D0000;
		color: #FFCF57;
		padding: 5px;

	}

	td {

		height: 100px;
	    vertical-align: bottom;
	    border-bottom: 1px solid #000;
	    padding: 0px;

	}

	td.hide-mobile, th.hide-mobile {

		display: none;

	}

		.page .fees li .space {

			display: inline-block;
			text-align: right;
			position: relative;
			right: 0;
			border: 1px solid #000;
			border-radius: 3px;

		}

			.page .fees li .space1 {

				position: relative;
				right: 0;
				border: 1px solid #000;
				border-radius: 3px;

			}

			.page .fees li .space2 {

				position: relative;
				right: 0;
				border: 1px solid #000;
				border-radius: 3px;

			}

			.page .fees li .space3 {

				position: relative;
				right: 0;
				border: 1px solid #000;
				border-radius: 3px;

			}

			.page .fees li .space4 {

				position: relative;
				right: 0;
				border: 1px solid #000;
				border-radius: 3px;5%;

			}

			.page .fees li .space5 {

				position: relative;
				right: 0;
				border: 1px solid #000;
				border-radius: 3px;

			}

			.page .fees li .space6 {

				position: relative;
				right: 0;
				border: 1px solid #000;
				border-radius: 3px;

			}

			.page .fees li .space7 {

				position: relative;
				right: 0;
				border: 1px solid #000;
				border-radius: 3px;

			}

	.pagination	{

		text-align: center;
		width: 100%;
		max-width: 700px;
		position: relative;
		left: 13%;

	}

	.alphabet {

		text-align: center;
		width: 100%;
		max-width: 700px;
		position: relative;
		left: 13%;

	}

	.pagination a, .alphabet a {

		font-weight: bold;
		font-size: 70px;


	}

	.order-radio {

		color: #5D0000;

	}

	.order-radio label {

		width: 200px;
		border-radius: 3px;
		color: #5D0000;

	}

	.nav-side {

		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		max-width: 600px;
		z-index: 1000;
		background-color: #232223;
		box-sizing: border-box;
		padding: 20px;
		color: #FBD984;
		margin-left: -600px;
		transition: margin 200ms ease-in-out;

	}

	.nav-toggle {

		position: absolute;
		right: -150px;
		top: 0;
		width: 150px;
		height: 150px;
		background-color: #232223;
		line-height: 40px;
		text-decoration: none;
		text-align: center;
		border-bottom-right-radius: 3px;
		box-shadow: 1px 0 3px rgba(0,0,0,0.1);

	}

	.nav-side .nav-item {

		text-align: center;
		position: relative;
		top: 5%;
		padding: 20px;
		border-bottom: 0.5px solid #FBD984;
		width: auto;

	}

	.nav-side .nav-item a {

		text-decoration: none;
		color: #FBD984;
		margin: 0;
		width: auto;
		font-size: 70px;

	}

	.nav-side .nav-item.select {

		background-color: #6B0000;
		color: #DD9D00;
		z-index: 1000;

	}

	.nav-side .nav-item:hover {

		background-color: #515051;
		transition: 300ms ease-in;

	}

	.nav-toggle:before {

		content: "\2192";
		font-weight: 600;
		color: #FBD984;
		font-size: 100px;
		position: relative;
		top: 50px;

	}

	.nav-side.nav-open {
		margin-left: 0;
		box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
	}

	.nav-side.nav-open .nav-toggle:before {

		content: "\2190";
		font-size: 100px;

	}


}	
